%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "Voteapp", root_path, class: "navbar-brand", id: "logo"
      / <a class="navbar-brand" id="logo" href="/">Alpha-blog</a>
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          = link_to "Polls", polls_path
        - if user_signed_in?
          %li
            = link_to "New poll", new_poll_path
      .pull-right.signing
        - if user_signed_in?
          = link_to "Logout", destroy_user_session_path, method: :delete, class: "btn logout btn-danger"
        - else
          = link_to "Sign in", user_session_path, class: "btn btn-default sign_in"
          = link_to "Sign up", new_user_registration_path, class: "btn btn-primary sign_up"